@if (phase === 0) {
  <app-modal [open]='open' [hide_close]='true' [hide_actions]='true' [wide]='true'>
    <span class='header'>Got it. Thank you!</span>
    @if (confirmationImageId) {
      <div class='confirmation-photo'>
        <app-moving-image [src]='ownFaceImage' [index]='4' [id]='confirmationImageAnimationId'></app-moving-image>
      </div>
    }
    <div class='confirmation-buttons'>
      <button class='action-btn action-btn--add action-btn--primary' type='button' (click)='addToMap()'>Add to the Normalizi.ng map</button>
      <button class='action-btn action-btn--retake' type='button' (click)='retake()'>Retake my picture</button>
      @if (countdownSeconds === null) {
        <button class='action-btn action-btn--remove' type='button' (click)='showDeleteConfirmation()'>Remove my face and my data</button>
      } @else {
        <button class='action-btn action-btn--remove action-btn--countdown' type='button' (click)='showDeleteConfirmation()' [attr.aria-label]="'deleting in ' + countdownSeconds + (countdownSeconds === 1 ? ' second' : ' seconds')">
          deleting in {{countdownSeconds}} sec
        </button>
      }
    </div>
  </app-modal>
}

@if (phase === 1) {
  <app-modal submit_text='send' cancel_text='no thanks' [open]='open' [wide]='true' [hide_close]='true' [submit_allowed]='hasEmail' [cancel_text_preserve_case]='true' (closed)='$event ? submitEmail() : noThanks()'>
    <button class='back-arrow-btn' type='button' aria-label='Back' (click)='backToConfirmation()'>&larr;</button>
    <span class='header'>Your face and data are being added to the map</span>
    <span>Do you want us to email you a private delete link in case you change your mind?</span>
      <div class='email-input-wrapper'>
        <input #input type='email' placeholder='your email' aria-label='Email address'
          [(ngModel)]='emailAddress' (keydown.enter)='onEmailEnterKey($event)'>
        @if (hasEmail) {
          <button class='email-send-btn' type='button' aria-label='Send' (click)='submitEmail()'>&#8594;</button>
        }
      </div>
    @if (emailAddress && !hasEmail) {
      <span class='error'>oops... this doesn't look like an email address</span>
    }
    <span class='smallprint'>*We won't save your email and only use it once</span>
  </app-modal>
}

@if (phase === 2) {
  <app-modal submit_text='delete all my data' cancel_text='back' [open]='open' [submit_allowed]='true' (closed)='$event ? confirmDelete() : cancelDelete()'>
    <span class='header'>Are you sure you want to delete all of your data?</span>
    <span>We can't undo this...</span>
  </app-modal>
}
