<app-output-map [grid]='grid'></app-output-map>
@if (false) {
  <app-feature-selector [feature]='feature' (selected)='feature = $event'></app-feature-selector>
}
@if (overlay) {
  <div class='overlay' (click)='overlay = false; drawerOpen = false'></div>
}
<app-drawer [open]='drawerOpen' [hidden]='consentModalOpen || deleteModalOpen' (changed)='overlay = false; drawerOpen = $event'
  [class.focused]='focusedState'
  >
  @if (!focusedItem) {
    <app-about-card [showStart]='!hasSelfie' (start)='start()'></app-about-card>
  }
  @if (focusedItem) {
    <app-report-card [item]='focusedItem.item' (delete)='delete()' (start)='start(true)'></app-report-card>
  }
</app-drawer>
@if (!hasSelfie) {
  <app-start-button label='start' [class.offseted]='layout.desktop && drawerOpen' (click)='start()'></app-start-button>
}
@if (hasSelfie && ownGI) {
  <app-focus-button label='start' [class.offseted]='layout.desktop && drawerOpen' (click)='focusOnSelf()'></app-focus-button>
}
@if (!drawerOpen || !!focusedItem) {
  <img class='info-button' (click)='focusedItem=null; drawerOpen=true' src='/assets/img/info-button.svg'>
}
@if (definition) {
  <app-definition imgSrc='def-step3.png' (closed)='definitionClosed.next()'></app-definition>
}
<app-consent-modal [open]='consentModalOpen' (closed)='consentModalOpen = false'></app-consent-modal>
<app-email-modal [open]='emailModalOpen' (closed)='handleEmailModalClosed($event)'></app-email-modal>
<app-redirect-modal [open]='redirectModalOpen' (closed)='redirectModalOpen = false'></app-redirect-modal>
<app-delete-modal [open]='deleteModalOpen' (closed)='deleteModalOpen = false'></app-delete-modal>