<div class='modal-wrapper' [class.open]='open' [class.wide]='wide'>
  <div class='background'></div>
  <div class='modal-body'>
    @if (!hide_close) {
      <div class='close' (click)='close(false)'></div>
    }
    <div class='content'><ng-content></ng-content></div>
    @if (!hide_actions) {
      <div class='actions'>
        @if (cancel_text) {
          <a class='cancel_button' [class.preserve-case]='cancel_text_preserve_case' (click)='close(false)'>{{cancel_text}}</a>
        }
        <button class='submit_button' [class.allowed]='submit_allowed' (click)='close(true)'>{{submit_text}}</button>
      </div>
    }
  </div>
</div>