@if (game && game.records && loaded) {
  @if (index < maxIndex && index >= 0) {
    <app-single-tournament [candidates]='candidates' [index]='feature' (results)='addResults($event)'>
      <div class='progress'>
        @for (_ of Array(maxIndex); track _; let i1 = $index) {
          <div class='progress-group'>
            @for (_ of Array(TUPLES_PER_FEATURE); track _; let i2 = $index) {
              <div class='progress-item'
                [class.done]='index > i1 || (index === i1 && (TUPLES_PER_FEATURE - tuples.length) > i2)'>
              </div>
            }
          </div>
        }
      </div>
    </app-single-tournament>
  }
  @if (index === maxIndex) {
    <h2>Done!</h2>
  }
}
@if (!game || !game.records || !loaded) {
  <app-loader></app-loader>
}
<app-game-preloader (loaded)='loaded = true'></app-game-preloader>
@if (definition) {
  <app-definition imgSrc='def-step2.png' (closed)='definition=false'></app-definition>
}
